<!--INDY CAF Warbird Booking-->
<!-- Day Flights -->
<!-- plug-in panel -->
<!--Jim Olivi 2022-->

<div class="col-sm-6">
    <div class="card border border-white">
        <div class="card-body">
            <!--Flight Day Selected-->
            <h2 id="SelectionTitle" class="card-header" style="display:none">Select A Flight</h2>
            <h5 id="chosen_airport" class="card-title"></h5>
            <ul id="flightList" class="nav"></ul>
        </div>
    </div>
</div>
<script>
    // Show the hidden card to show flight data.
    // Build the URL to request all of one airport and one day's flights.
    // Fetch list of flights from the server
    function ShowDaySelected(airport) {

        $("#SelectionTitle").show()
        $('#flightList li').remove();
        let airport_name = airport.getAttribute('data-airport-name')
        $('#chosen_airport').text(airport_name)

        let airport_code = airport.getAttribute('data-airport-code')
        let fulldate = airport.getAttribute('data-flighttime')
        flightdate = fulldate.split(' ')
        date = flightdate[0].replace(/\//g, '')
        const url = "/getdayflights/" + date + "/" + airport_code
        fetch(url)
            .then((response) => response.json())
            .then((flights) => {
                flights.forEach(displayThem)
// Parse the date time string
// This function expects the date and time to come in a string UTC format:
// YYYY-mm-ddThh:mm:ss.ssss+utcoffset
                function displayThem(flight) {
                    const id = flight['_id'].$oid
                    const dt_from_database = flight['flight_time']['$date']
                    const datetime = dt_from_database.split("T")
                    const date = datetime[0].split("-")
                    const UTC = datetime[1].split("+")
                    const time = UTC[0].split(":")
                    let hour = Number(time[0])
                    const ampm = (hour < 12) ? "AM" : "PM";
                    hour = hour % 13
                    const fulldate = `${date[2]}/${date[1]}/${date[0]}, ${hour}:${time[1]}${ampm}`
                    $(`<li data-flightID=${id} class="nav-item">
                        <a class="nav-link btn" href="/passengercontact?flightkey=${id}" style="width: 50rem;text-align: left">${flight["aircraft_n_number"]}: ${fulldate}
                        </a>
                    </li>`).appendTo("#flightList")
                }
            }).catch((error) => {
            console.log(error)
        })
    }
</script>
