<!--INDY CAF Warbird Booking-->
<!-- Flight Report Template -->
<!--Jim Olivi 2023-->

{% include "header.html" %}
<body>
<h1>Commemorative Air Force</h1>
<h2>Indiana Wing</h2>
<h3>Flight List Produced On:</h3>
{% for flight in flights %}
    <hr
    <h4>Airport: {{ flight.airport_name }}</h4>
    <h3>Flight Time: {{ flight.flight_time }} Aircraft: {{ flight.aircraftDetails[0].aircraft_name }}</h3>
    {% if "pilotDetails" in flight: %}
        <p>Pilot: {{ flight.pilotDetails[0]._id }} {{ flight.pilotDetails[0].FirstName }} {{ flight.pilotDetails[0].LastName }}</p>
    {% else: %}
        <p>Pilot not Assigned</p>
    {%  endif %}
    {% if "coPilotDetails" in flight: %}
        <p>Co-Pilot: {{ flight.coPilotDetails[0]._id }} {{ flight.coPilotDetails[0].FirstName }} {{ flight.coPilotDetails[0].LastName }}</p>
    {% else: %}
        <p>Co-Pilot not Assigned</p>
    {%  endif %}
    {% if "crewChiefDetails" in flight: %}
        <p>Crew Chief: {{ flight.crewChiefDetails[0]._id }} {{ flight.crewChiefDetails[0].FirstName }} {{ flight.crewChiefDetails[0].LastName }}</p>
    {% else: %}
        <p>Crew Chief not Assigned</p>
    {%  endif %}
    {% if "loadMasterDetails" in flight: %}
        <p>Load Master: {{ flight.loadMasterDetails[0]._id }} {{ flight.loadMasterDetails[0].FirstName }} {{ flight.loadMasterDetails[0].LastName }}</p>
    {% else: %}
        <p>Load Master not Assigned</p>
    {%  endif %}
    <div class="rpt-container">
        <h4>Passengers</h4>
        <div class="rpt-detail">
            {% for transaction in flight.transactions: %}
                <p>Purchaser: {{ transaction.FirstName }} {{ transaction.LastName }}, Phone: {{ transaction.pass_phone }}, To Text</p>
                <h5>Prime Seats</h5>
                <div class="rpt-seats">
                    {%  for seat in transaction.prime_seats: %}
                        <p>{{ seat }}</p>
                    {% endfor %}
                </div>
                <h5>Riders</h5>
                <div class="rpt-seats">
                    {%  for seat in transaction.passenger_seats: %}
                        <p>{{ seat }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}
<hr>
</body>
{% include "footer.html" %}
