<!--INDY CAF Warbird Booking-->
<!--Jim Olivi 2022-->

<!-- Footer Section-->
<footer>
	<!-- <div class="container-fluid colored-section"> -->
	<div class="jumbotron container-fluid">
		<h4>Ride a Warbird With Us.</h4>
		<h4>Indiana Wing. Commemorative Air Force.</h4>
		<p>© Copyright CAF Indiana Wing:
		<script type="text/javascript">
  			document.write(new Date().getFullYear());
		</script>
		</p>
{#        <a href="https://www.flaticon.com/frexe-icons/propeller" title="propeller icons">Propeller icons created by Freepik - Flaticon</a>#}
	</div>
</footer>


</html>
