<!--INDY CAF Warbird Booking-->
<!-- Add Volunteer -->
<!--Jim Olivi 2022-->

{% include "header.html" %}

<body xmlns="http://www.w3.org/1999/html">
<div class="container-fluid">
    <div class="card border border-white">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="card-body">
            <div class="col col-lg-6 d-flex justify-content-center">
                <form method="post" action="{{ url_for('add_volunteer') }}">
                    {{ form.csrf_token }}
                    <div class="col">
                        <h2 class="card-title">CAF Volunteer</h2>
                        <h4 class="card-title">Enter a User ID to see if the volunteer is already on file.</h4>
                        <h4 class="card-title">If the volunteer is not on file, enter the information, then tap
                            Add Volunteer.</h4>
                        <h4 class="card-title">If the user is already on file, you can make changes then tap
                            Change Volunteer."</h4>
                        <h4 id="add_new_label" class="card-title" style="display:none">Volunteer not found, you can add
                            a new volunteer.</h4>
                        <!-- User ID -->
                        {{ form.record_id }}
                        <div id="spinner" class="spinner-border" style="display:none"></div>
                        <span id="gettingInfo">Getting Volunteer info.</span>
                        <!-- First Name, Last Name -->
                        <div class="col col-lg-12 p-0">
                            {{ form.first_name }} {{ form.last_name }}
                        </div>
                        <span id="change_pw_label"
                              style="display:none">To make changes, enter your current password.</span>
                        <!--    Password and checkboxes                        -->
                        {{ form.password }} {{ form.new_password }}
                        <span id="pw_req_label" style="display:none">Password Required.</span>
                    </div>
                    <div class="assignments container col-6">
                        <div class="row">
                            <h2>Crew Positions</h2>
                            <p>Enter as many crew positions as needed for this volunteer. To add more than four, click
                                the button below.</p>
                        </div>
                        <ul>
                            <li>
                                {{ form.crew_position }}
                            </li>
                            <li>
                                {{ form.crew_position }}
                            </li>
                            <li>
                                {{ form.crew_position }}
                            </li>
                            <li>
                                {{ form.crew_position }}
                            </li>
                        </ul>

                    </div>
                    <!--    Submit Button                        -->
                    <div class="row">
                        <div class="col-lg-6">
                            <button id="submit_button" type="submit" class="btn btn-primary" style="display:none">
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    // See if the user id is already on file.
    // If so, fill in the data
    $("#record_id").change(function (event) {

        const userid = event.target.value;
        if (userid == "") {
            return;
        }
        $("#spinner").show();
        $("#gettingInfo").show();
        const url = "/getvolunteer?record_id=" + userid;
        fetch(url)
            .then((response) => response.json())
            .then((person) => {
                if (person["record_id"] != "") {
                    $("#FirstName").val(person["FirstName"])
                    $("#LastName").val(person["LastName"])
                    $("#admin").prop("checked", person["admin"])
                    $("#pilot").prop("checked", person["pilot"])
                    $("#crew_chief").prop("checked", person["crew_chief"])
                    $("#loadmaster").prop("checked", person["loadmaster"])
                    $("#submit_button").text("Change Volunteer")
                    $("#submit_button").show()
                    $("#add_new_label").hide()
                    $("#new_password").show()
                    $("#change_pw_label").show()
                    $("#pw_req_label").hide()
                } else {
                    $("#FirstName").val("")
                    $("#LastName").val("")
                    $("#admin").prop("checked", false)
                    $("#pilot").prop("checked", false)
                    $("#crew_chief").prop("checked", false)
                    $("#loadmaster").prop("checked", false)
                    $("#submit_button").text("Add Volunteer")
                    $("#submit_button").show()
                    $("#add_new_label").show()
                    $("#new_password").hide()
                    $("#change_pw_label").hide()
                    $("#pw_req_label").show()
                }
                $("#spinner").hide()
                $("#gettingInfo").hide()
            }).catch((error) => {
            console.log(error)
        })
    })
    // Do the final checking before allowing the screen to submit
    $("form").submit(function (event) {
// See if new password requested
// If so, verify old password
        $("#spinner").show()
        $("#gettingInfo").show()
        if ($('#password').first().val() == '') {
            alert('Please your current password.')
            event.preventDefault();
        }
    });
</script>
{% include "footer.html" %}