<!--INDY CAF Warbird Booking-->
<!-- Add Volunteer -->
<!--Jim Olivi 2022-->

{% include "header.html" %}

<body xmlns="http://www.w3.org/1999/html">
<div class="container-fluid">
    <div class="card border border-white">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="card-body">
            <div class="col col-lg-6 d-flex justify-content-center">
                <form method="post" action="{{ url_for('add_volunteer') }}">
                    {{ form.csrf_token }}
                    <div class="col">
                        <h2 class="card-title">CAF Volunteer</h2>
                        <h4 class="card-title">Enter a Colonel Number to see if the volunteer is already on file.</h4>
                        <h4 class="card-title">If the volunteer is not on file, enter the information, then tap
                            Add Volunteer.</h4>
                        <h4 class="card-title">If the user is already on file, you can make changes then tap
                            Change Volunteer."</h4>
                        <h4 id="add_new_label" class="card-title" style="display:none">Volunteer not found, you can add
                            a new volunteer.</h4>
                        <!-- colonel_number -->
                        {{ form.colonel_number }}
                        <div id="spinner" class="spinner-border" style="display:none"></div>
                        <span id="gettingInfo">Getting Volunteer info.</span>
                        <!-- First Name, Last Name -->
                        <div class="col col-lg-12 p-0">
                            {{ form.first_name }} {{ form.last_name }}
                        </div>
                        <span id="change_pw_label"
                              style="display:none">To make changes, enter your current password.</span>
                        <!--    Password and checkboxes                        -->
                        {{ form.password }} {{ form.new_password }}
                        <span id="pw_req_label" style="display:none">Password Required.</span>
                    </div>
                    <div class="container col-6">
                        <div class="row">
                            <h2>Crew Positions</h2>
                            <p>Enter as many crew positions as needed for this volunteer. To add additional crew positions, click
                                the button below.</p>
                            <p>Blank (empty) entries will be discarded.</p>
                        <ul class="crew_positions">
                        </ul>
                        <button id="btn_crew_position" type="submit" class="btn btn-outline-secondary" onclick="addCrewPosition()">Add Crew Position</button>
                        </div>
                    </div>
                    <!--    Submit Button                        -->
                    <div class="row">
                        <div class="col-lg-6">
                            <button id="submit_button" type="submit" class="btn btn-primary" style="display:none">
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    // See if the user id is already on file.
    // If so, fill in the data
    $("#colonel_number").change(function (event) {

        const userid = event.target.value;
        if (userid == "") {
            return;
        }
        $("#spinner").show();
        $("#gettingInfo").show();
        const url = "/getvolunteer?record_id=" + userid;
        fetch(url)
            .then((response) => response.json())
            .then((person) => {
                console.log(person)
                $(".crew_positions").empty()
                {#Check for new record or record to be updated.#}
                if (person["volunteer_on_file"] == "UPDATE") {
                    $("#first_name").val(person["first_name"])
                    $("#last_name").val(person["last_name"])
                    $("#submit_button").text("Change Volunteer")
                    $("#submit_button").show()
                    $("#add_new_label").hide()
                    $("#new_password").show()
                    $("#change_pw_label").show()
                    $("#pw_req_label").hide()
                } else {
                    {# Set up for new volunteer. #}
                    $("#first_name").val("")
                    $("#last_name").val("")
                    $("#submit_button").text("Add Volunteer")
                    $("#submit_button").show()
                    $("#add_new_label").show()
                    $("#new_password").hide()
                    $("#change_pw_label").hide()
                    $("#pw_req_label").show()
                    for ( let i = 0; i < 4; i++ ){
                        $(".crew_positions").append("<li><input id='crew_position' name='crew_position' placeholder='Crew Position' type='text' value=''></li>")
                    }
                }
                $("#spinner").hide()
                $("#gettingInfo").hide()
            }).catch((error) => {
            console.log(error)
        })
    })
    // Do the final checking before allowing the screen to submit
    $("form").submit(function (event) {
// See if new password requested
// If so, verify old password
        $("#spinner").show()
        $("#gettingInfo").show()
        if ($('#password').first().val() == '') {
            alert('Please your current password.')
            event.preventDefault();
        }
    });

    function addCrewPosition() {
        $(".crew_positions").append("<li><input id='crew_position' name='crew_position' placeholder='Crew Position' type='text' value=''></li>")
    }
</script>
{% include "footer.html" %}